.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  background: #d8d8d8;
  padding: 30px;
  border-radius: 15px;
}

.container .header{
  display: flex;
  flex-direction: column;
  margin: none;
  padding-bottom: 15px;
  font-size: 2em;
}

.container .header .text{
  color: #9d0000;
  font-weight: 600;
}

.container .header .underline{
  width: 14em;
  height: 6px;
  background: #9d0000;
  border-radius: 9px;
}

.container-data {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza os elementos horizontalmente */
  align-items: center; /* Centraliza os elementos verticalmente */
}



.container .inputs {
  margin-right: 10px;
  display: flex;
  padding-top: 20px;
}

.container .inputs .titulo{
  margin-right: 10px;
  width: 100px;
  display: inline-block;
}
.titulo-small{
  margin-bottom: 10px;
  width: 100px;
  display: inline-block;
}

.container .submit-container{
  padding-top:50px ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #d8d8d8;
  background-color: #9d0000;
  border-radius: 19px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.container .inputs .input{
  display: flex;
}
.container .small .inputs .input{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select-projeto{
  width: 400px;
}
.select-projeto-small{
  width: 200px;
}

.observacao{
  display: flex;
  flex-direction: column;
  padding-top:20px;
}
.observacao .label{
  padding-bottom: 15px;
}

.observacao input{
  width: 400px;
  height: 100px;
}

.input-text {
  border: 2px solid #ccc; /* Cor da borda */
  border-radius: 10px; /* Borda arredondada */
  padding: 10px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
}

/* Estilo para quando o campo está em foco */
.input-text:focus {
  border-color: #007bff; /* Cor da borda quando em foco */
  outline: none; /* Remove o contorno padrão do navegador */
}

.input-text-large {
  border: 2px solid #ccc; /* Cor da borda */
  border-radius: 10px; /* Borda arredondada */
  padding: 10px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  width: 100px;
  height: 100px;
}

.small {
  display: flex;
  justify-content: space-between;
}

.inputSmall {
  display: flex;
  flex-direction: column;
}
